.footer {
  position: relative;
  z-index: 5;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  background: linear-gradient(18deg, rgba(6, 6, 5, 0.90) 12.07%, rgba(13, 13, 10, 0.90) 120.85%);
  @media (max-width: 1100px) {
    padding: 23px 0 18px;
  }

  &__inner {
    @include flex-align-center(30);
    justify-content: space-between;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
    @media (max-width: 540px) {
      gap: 45px;
    }
  }

  &__element {
    max-width: 280px;
    width: 100%;
    @include r($desktop) {
      max-width: 230px;
    }
    @media (max-width: 1100px) {
      &:last-child {
        display: none;
      }
    }
  }

  &__list {
    @include flex-align-center(29);
    @media (max-width: 540px) {
      flex-direction: column;
      gap: 22px;
    }
  }

  &__link {
    line-height: 1;
    border-radius: 4px;
    padding: 2px 3px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;

    &:hover {
      color: #c9ff2a;
    }

    &:focus {
      color: $white;
      border-color: #c9ff2a;
    }
  }

  &__right {
    @include flex-align-center(40);
    justify-content: flex-end;
  }
}